html, textarea, input {
    background-color: transparent;
    color:#818181;
}
body { background: #CFCFCF; }
html, body, p {
    font-family: "Helvetica";  
    margin: 0px;
}
div {
    z-index:10001;
    font-weight: bold;
    position: absolute;
}
#prompt p {
    color: red;
    font-size: 9pt;
}
#chatinput, #chatlog {
    visibility: hidden;
    position:static;
    width:600;
}
#chatarea {
    width:600;
    height:150;
    margin-left:-300;
    text-align: center;
    bottom:10%;
    left: 50%;
}
#chatlog {
    height: 132;
}
.debug{
    display:none;
    left: 10px;
}
.error{
    width:400px;
    margin-left:-150px;
    left:50%;
    bottom:40px;
}
.general{
    top: 20px;
    right: 10px;
}
.message {
    display:none;
    color: #000000;
    top: 30px;
    font-size: 23px;
    display: none;
    background-color: #EEEEEE;
    text-align: center;
    padding: 10px;
    width: 300px;
    border: 1px;
}
