body { background: #CFCFCF; }

html, body {
    font-family: 'Ubuntu', 'Helvetica', sans-serif;
    font-size: 24pt;    
    margin: 0px;
    width: 100%;
    height: 100%;
}

textarea, input {
    background-color: white;
    font-family: 'Ubuntu', 'Helvetica', sans-serif;
    font-size: 24pt;
    color:#333;
    margin-top: 12pt;
}

.general h1 {
    position: absolute;
    top: 8pt;
    left: 8pt;
    margin-top: 8pt;
    margin-left: 8pt;
}

.general p {
    position: absolute;
    top: 8pt;
    right: 8pt;
    height: 2em;
    margin-top: 8pt;
    margin-right: 8pt;
    vertical-align: bottom;
}

div {
    z-index:10001;
    font-weight: bold;
    position: absolute;
}

#prompt {
    margin-top: 4em;
    margin-left: 16pt;
}

#prompt p {
    color: red;
    font-size: 9pt;
}
.error{
    width:400px;
    margin-left:-150px;
    left:50%;
    bottom:40px;
}
.general{
    top: 5px;
    right: 5px;
    width: 100%;
}
.message {
    display:none;
    color: #333;
    margin-top: 25%;
    font-size: 24pt;
    display: none;
    text-align: center;
    padding: 10px;
    width: 50%;
}

@media screen and (max-width:700px) {
    .general h1 {
        font-size: 36pt;
    }
    .general p {
        top: 3em;
        left: none;
    }
}